@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}

.container {
  width: 50%;
  padding: 20px;
  margin: 10px auto;
  position: relative;
}

#logo {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.name, .status {
  display: inline-flex;
  vertical-align: middle;
  margin: 0 20px;
}

.status {
  position: absolute;
  right: 20px;;
  padding: 20px 0;
}

.channel {
  display: block;
  color: rgb(128,128,128);
  border-bottom: 1px solid rgba(100,65,164, 0.2);
  padding: 10px;
}

.logo {
  width: 60px;
  border-radius: 50%;
  border: 3px solid rgb(225,225,230);
  padding: 3px;
  vertical-align: middle;
}
